# Arquivos de log
logs/
*.log

# Arquivos de ambiente local
# Ignora todos os arquivos .env, exceto o .env.example
*.env
*.env.*
!*.env.example

# Saída de build do Maven
target/

# Arquivos do Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# Arquivos de configuração de IDEs comuns
.idea/
.vscode/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

# Arquivo de ajuda gerado pelo Spring Initializr
HELP.md
