spring:
  application:
    name: event-microservice
  data:
    web:
      pageable:
        default-page-size: 10
        max-page-size: 100
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    url: ${DB_URL}
    user: ${DB_USER}
    password: ${DB_PASSWORD}
    locations: classpath:db/migration
    enabled: true
    baseline-on-migrate: true

email-service:
  url: ${EMAIL_SERVICE_URL}
